/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
  }
 
h1 {
    padding-top:20px;
    padding-bottom: 20px;
}

p {
    font-size: 16px;
}

/* Navbar Stuff
* --------------------------------------- */
.navbar-brand img{
    max-width:120px; 
    margin-top: -7px;
}

/* Undo stubborn theme option */
.navbar-inverse .navbar-nav > .active > a {
    background-image: none;
    box-shadow: none;
}

.navbar-inverse { background-color: #0582D8}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #48A1DE}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #0463A5}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #0463A5}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #000000}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


/* Toggle */
.navbar .navbar-toggle { border-color: white; }
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus { background-color: #48A1DE}
.navbar .navbar-toggle .icon-bar {background-color: white}
.navbar .navbar-toggle .border { color:white }



/* Jumbotron styles
*---------------------------------------*/

#suki{
    margin-top: 50px;
}

.jumbotron{
   /* background-image:
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center 50px;
    background-repeat: no-repeat;
    background:-webkit-gradient(radial, 190 76, 0, 244 -73, 465, from(#000000),  to(#000000)) */
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}


.jumbo {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 50px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: none;
    color:white;
}


/* This is the main heading text styling
.jumbo-head {
    color: white;
    border: 2px solid white;
    padding: .5em 1.6em;
    border-radius: 5px;
    line-height: 1em;
    background-image: url(/img/sp_logo_just_text.png);
    background-repeat: no-repeat;
    background-size: contain;
} */

/* This is the main heading text styling */
.jumbo-head {
    width:100%;
    color: white;
    border: 2px solid white;
    border-spacing: 0px;
    padding: .5em 1.6em;
    border-radius: 5px;
    line-height: 1em;
}

.jumbo-head img{
    width: 100%;
    height: auto;
}

/* This is the subheading text styling */
.jumbo-subhead{
    color: white;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.jumbotron .chevron{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 20px;
    left: 0;
    color: white;
}




/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
     .jumbo{
        width: 80%;
        height: 60%;
        top: 0px; left: 0; bottom: 0; right: 0;
     }

    .jumbo-head{
        padding: 1em 1.6em;
    }
}


/* For small devices (iPhone) in landscape */
@media (max-height:400px){
    .jumbotron {
        padding: 20px;
        margin-bottom: 20px;

    }

    .jumbo{
        width: 96%;
        height: 80%;
        top: 20px;
        margin: 0;
    }

    .jumbotron p{
        font-size: 1.2em;
        font-weight: 400;
        padding: 0;
    }

    .jumbotron .chevron {
        bottom: 8px;
    }

    .jumbotron .chevron i{
        font-size: 2em;
    }

}

/* This wrapper goes all the rest of the content */
.wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 1%;
    z-index: 2;
    background: white;
}


.row{
    padding-bottom: 2em;
    padding-top: 2em;
}


/* centered columns styles
*---------------------------------------*/

/* Center stuff in the row */
.row-centered{
    text-align:center;
}

/* Reset header to left in the row */
.row-centered h1{
    text-align: left;
}


.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
    padding-bottom: 20px;
}




/* About Section Styles
* --------------------------------------- */

/* Style for videos rows */
.video-wrapper{
    max-width: 600px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right:15px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border-color: lightgrey;
    border: 1px solid #2d6ca2;
}

.video-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Style the nav tabs */
.nav-justified{
    font-size: 1.5em;
}


/* Prevent the tabs from collapsing */
@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
}

/* Style the nav tab panes */
.tab-pane{
    min-height: 400px;
    padding-top: 20px;
}

.tab-pane ul li {
    padding-bottom: 1em;
}


/* Style for the team section
* --------------------------------------- */
#team-ribbon{
    background-color: #0582D8;
    backgroud-size: cover;
    color:white;
}

#team-ribbon p{
    line-height: 1.25em;
}

#team-ribbon .col-md-6{
    padding-top: 0px;
}

#team-ribbon img{
    width: 200px;
    align-content: center;
}

/* Color and size for twitter linked in links */
#team-ribbon a{
    color:white;
    font-size: 1.5em;
}

#team-ribbon a:hover{
    color:lightgrey;
    font-size: 1.5em;
}


/* Style for the contact section
* --------------------------------------- */
#contact h3 {
    font-size: 1.25em;
}


/* Signup form style
* --------------------------------------- */
#mc_embed_signup{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font: "Helvetica Neue";
    font-size: large;
    padding: 15px;
    border-color: #2d6ca2;
    border: 2px solid #2d6ca2;
    padding: 1em 1.6em;
    border-radius: 5px;
    line-height: 1em;
    margin: 15px 15px 15px 15px;
}

#mc_embed_signup #mc-embedded-subscribe {
    font-size: x-large;
}


#mc_embed_signup #mc-embedded-subscribe{
    background-image: -webkit-linear-gradient(top, #0582D8 50%, #2d6ca2 100%);
    background-image:         linear-gradient(to bottom, #0582D8 50%, #2d6ca2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #2b669a;
    height: 1.75em;
    width: 5em;
}

#mc_embed_signup #mc-embedded-subscribe:hover,
#mc_embed_signup #mc-embedded-subscribe:focus {
  background-color: #2d6ca2;
  background-position: 0 -15px;
}



/* Social media buttons style
* --------------------------------------- */   
.media-button{
    text-align: center;
    font-size: 5em;
    padding: 30px;
}


/* Bottom footer style
* --------------------------------------- */   
footer p{
    color: darkgrey;
    font-size:12px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}










